<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />

    <title>Book Review</title>
  </head>
  <body>
    <div>
      <header id="main-header">
        <div class="header-content">
          <h1 id="author-name" class="header-title">EMMANUEL WEYINMI</h1>
          <img
            src="/assets/soul.jpg"
            class="content-image"
            id="content-image-1"
            src="/assets/soul.jpg"
            alt=""
          />
          <h2 id="header-subtitle" class="header-subtitle">BOOK TITLE</h2>
          <p>ISBN: number</p>
          <p>DATE READ: 2022-02-18</p>
          <p>HOW STRONGLY I RECOMMEND IT: 2/10</p>
          <p>(<a href="">SEE MY LIST OF 360+</a>, FOR MORE)</p>
          <p>Go to the Amazon page for details and reviews.</p>

          <p class="header-note">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi ipsa
            sequi dolores repudiandae est. Error.
          </p>
        </div>
      </header>
      <main>
        <h2>MY NOTES</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid,
          dicta. Quidem dolore atque totam hic repudiandae nostrum sunt corrupti
          vitae ad sed. Perferendis totam consectetur ratione quasi quaerat,
          porro sit tenetur harum sunt mollitia atque consequatur non blanditiis
          nulla placeat odit dignissimos tempore sed. Eveniet in natus quidem
          ipsum? Recusandae explicabo aliquid qui, architecto doloremque
          eligendi saepe veniam quibusdam aut voluptate eum doloribus mollitia
          veritatis, vero repellendus. Tempore provident eos suscipit temporibus
          quidem iste doloremque, dolor, qui quas explicabo vero possimus
          aperiam. Doloremque magnam voluptate aut? Laborum sapiente
          voluptatibus cum, error consequuntur ad nihil dolores, pariatur odit
          debitis nam similique quas possimus commodi ex amet expedita esse iste
          repellat. Aspernatur provident, commodi iusto eligendi eum
          reprehenderit officia doloremque quasi. Fuga, eveniet ad praesentium
          impedit molestias laborum, aperiam cupiditate maxime odio reiciendis
          voluptatem cum eligendi explicabo culpa qui natus recusandae enim,
          debitis asperiores magnam numquam totam dolore. Natus nobis adipisci,
          culpa sequi dolorum animi ratione, sit quo consequuntur placeat
          voluptas, eos eaque? Cum corporis maiores veritatis recusandae ipsum
          ipsa harum repudiandae soluta alias, voluptatum facilis, ex et tenetur
          ad saepe ab fugit similique beatae minima dolore voluptate nam itaque
          exercitationem. Nobis unde doloremque cum aliquam totam aliquid libero
          reprehenderit fuga provident.
        </p>
      </main>

      <main id="main-content"></main>
    </div>
  </body>
</html>
